@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #093545;
}

input {
    background-color: #224957;
    border-radius: 5px;
    padding: 12px 20px;
}
input:focus {
    outline: none;
}
